server.port=8080

spring.datasource.url=jdbc:postgresql://YOUR_SUPABASE_URL:6543/postgres
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD

spring.jpa.hibernate.ddl-auto=update